/*body{
    background-color:#474747;
}*/
header{
    padding:20px;
    background-color:#292929;
    text-align: center;
    color:#00ffd5;
}
div{
    padding: 30px;
    overflow: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}
th, td{
    border: 5px outset whitesmoke;
    text-align: center;
    padding:10px;
    width: 150px;
    height: 75px;
}
th{
    background-color:#b8b8b8;
}
tr:hover {
    background-color:#c4ffff !important;
}
